@charset "utf-8";
body {
	background-color: #2B23CA;
}

/* CSS Document */

#container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #37ad3d;
	padding-top: 10px;
	border-radius: 25px;
}

a:link {
	color: #ffffff;
}
a:visited {
	color: hotpink;
}



#header {
	background-color: #FFFFFF;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 25px;
	height: 130px;
	clear: both;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#header a img {
	float: left;
	margin-bottom: 20px;
}
#nav {
	width: 500px;
	margin-left: auto;
	margin-right: 100px;
	float: right;

}
.colr {
	float: right;
	border-radius: 25px;
	background-color: #2B23CA;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
}

.colr p {
	color: #ffffff;
}

.colr h2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	font-family: fantasy, Pristina;
	font-style: normal;
	font-weight: 400;
}
.coll .imgr {
	float: right;
	margin-left: 10px;
	margin-right: 0px;
}

.paws {
	background-image: url(../images/paw.gif);
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	min-height: 25px;
	background-repeat: repeat-x;
	border-spacing: 30px 0px;
	clear: both;
}


.intro  {
	width: 1100px;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2B23CA;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	color: #FFFFFF;
	margin-bottom: 15px;
	margin-top: 15px;
	padding-top: 10px;
}
.intro h1 {
	text-align: center;

}
.intro p {
	color: #FFFFFF;
	font-size: large;
	text-align: center;
}
.coll {
	width: 1100px;
	float: left;
	margin-top: 20px;
	margin-bottom: 15px;
	clear: both;
	font-size: large;
}
section .coll p {
	text-align: left;
}

.colr form {
	margin-left: auto;
	margin-right: auto;

}
.coll  img {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.colreg {
	float: right;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-top: 5px;
	margin-top: 40px;
	width: 160px;
	height: 160px;
}
.missing {
	margin-left: auto;
	margin-right: auto;
	clear: both;
	width: 1100px;
	height: auto;
	background-color: #2B23CA;
	border-radius: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #ffffff;

}

#footer {
	margin-left: auto;
	margin-right: auto;
}
#footer p {
	text-align: center;
}
.red {
	color: #E812E7;
}
.white {
	color: #fff;
}

.p1 {
	width: 250px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-right: 10px;
	background-color: #000000;
}

.p1 p {
	color: #ffffff;
}
.p1 a:link {
	color: #ffffff;
}
.p1 a:visited {
	color: hotpink;
}

.misspet {
	width: 250px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-right: 5px;
	padding: 5px;
	text-align: center;
	background-color: #000000;
}



h3  {
	text-align: center;
}
.flyer{
 width: 500px;
 height: 800px;
 text-align: center;
 background-color: #FFFFFF;
}
.flyer .notebox {
 width: 400px;
 height: 200px;
 margin-left: auto;
 margin-right: auto;
 background-color: #FFFFFF;
 margin-bottom: 20px;
}
